@font: 'Overpass', sans-serif;

html {
    // background-image: url("../../assets/darkBlur.PNG");
    background-repeat: round;
    height: 100%;
    // display: grid;
    // grid-row: 2;    /* Place item in the second row. */
    // grid-column: 3;
    // grid-template-areas:
    //     "banner banner banner"
    //     "slide slide slide";
    // grid-template-columns: auto auto auto;
    // grid-template-rows: 500px calc(~"100vh - 500px");
    // grid-gap: 10px;
}

@media (max-width: 600px) {
    .banner > .title1 {font-size: 24pt;}
    .banner > .title2 {font-size: 18pt;}
}

@media (max-width: 800px) {
    .title1 {font-size: 30pt;}
    .title2 {font-size: 20pt;}
}

@media (min-width: 900px) {
    .title1 {font-size: 36pt;}
    .title2 {font-size: 30pt;}
}

.banner.hide {
    height: 0;

    .children {
        will-change: height;
        transition: height 0.5s;
        height: 0;
    }
}

.banner {
    position: absolute;
    height: 60vh;
    top: 0;
    left: 0;
    will-change: height;
    grid-area: banner;
    text-align: center;
    transition: height 0.5s;


    .title1 {
        padding: 0 10%;
        pointer-events: none;
        font-family: @font;
        opacity: 0.7;
        transition: opacity 0.8s;
    }

    .title2 {
        pointer-events: none;
        opacity: 0;
        color: black;
        font-family: @font;
        transition: opacity 0.8s color 0.8s;
    }

    &:hover {
        .title1 {
            opacity: 0;
        }

        .title2 {
            color: white;
            opacity: 0.8;
        }
    }

    .children {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #084B51;
        width: 100vw;
        height: 60vh;
        opacity: 0.1;
        transition: opacity 0.8s;
        border-bottom: 5px solid black;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0, 0.5);
        }

        &:hover {
            opacity: 1;
        }
    }
}

.cube-container {
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 1000px;
    margin: auto;
    top: 80px;

    .cube {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transform: translateZ(-100px) rotateX(215deg) rotateY(45deg);
        transition: transform 1s;

        .side {
            margin: 0;
            width: 196px;
            height: 196px;
            display: block;
            position: absolute;
            border: 2px dashed white;

            .cross {
                stroke: white;
                height: 100%;
                width: 100%;
                stroke-width: 8px;
                // stroke-dasharray: 100;
                // animation: dash 5s linear infinite;
            }
        }

        .front  {
            transform: rotateY(   0deg ) translateZ( 100px );
            // background-color: rgba(seagreen, green, darkblue, alpha)
        }
        .back   {
            transform: rotateX( 180deg ) translateZ( 100px );
        }
        .right  { transform: rotateY(  90deg ) translateZ( 100px ); }
        .left   { transform: rotateY( -90deg ) translateZ( 100px ); }
        .top    { transform: rotateX(  90deg ) translateZ( 100px ); }
        .bottom { transform: rotateX( -90deg ) translateZ( 100px ); }
    }

    .cube.animate-front {
        animation: spin-front 3s linear infinite;
        -webkit-animation: spin-front 3s linear infinite;
    }
    .cube.animate-back {
        animation: spin-back 3s linear infinite;
        -webkit-animation: spin-back 3s linear infinite;
    }
    .cube.animate-left {
        animation: spin-left 3s linear infinite;
        -webkit-animation: spin-left 3s linear infinite;
    }
    .cube.animate-right {
        animation: spin-right 3s linear infinite;
        -webkit-animation: spin-right 3s linear infinite;
    }
    .cube.animate-top {
        animation: spin-top 3s linear infinite;
        -webkit-animation: spin-top 3s linear infinite;
    }
    .cube.animate-bottom {
        animation: spin-bottom 3s linear infinite;
        -webkit-animation: spin-bottom 3s linear infinite;
    }
}

.images {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100VW;
    height: 40vh;
    background-color: #17171f;
    left: 0;

    .slide {
        grid-area: slide;
        height: calc(~"100vh - 450px");
        width: calc(~"(100vw / 3.1) - 50px");
        padding: 20px;
        margin: 20px 15px auto auto;

        &:hover {
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08)
        }
    }
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

@middle-front: translateZ(-100px) rotateX(145deg) rotateY(45deg);
@middle-back: translateZ(-100px) rotateX(145deg) rotateY(225deg);
// @middle-left: translateZ(-100px) rotateX(325deg) rotateY(-45deg);
@middle-left: translateZ(-100px) rotateX(215deg) rotateY(45deg);
@middle-right: translateZ(-100px) rotateX(145deg) rotateY(45deg);

@middle-top: translateZ(-100px) rotateX(145deg) rotateY(45deg);
@middle-bottom: translateZ(-100px) rotateX(145deg) rotateY(45deg);

//Keyframe animations
@keyframes spin-front {
  0% { transform:  @middle-back};
  40% { transform: @middle-front };
  100% { transform: @middle-front };
}

@-webkit-keyframes spin-front {
  0% { transform: @middle-back };
  40% { transform: @middle-front };
  100% { transform: @middle-front };
}

@keyframes spin-back {
  0% { transform: @middle-front };
  40% { transform: @middle-back };
  100% { transform: @middle-back };
}

@-webkit-keyframes spin-back {
 0% { transform: @middle-front };
  40% { transform: @middle-back };
  100% { transform: @middle-back };
}

// Left & Right
@keyframes spin-left {
  0% { transform:  @middle-back};
  40% { transform: @middle-left };
  100% { transform: @middle-left };
}

@-webkit-keyframes spin-left {
  0% { transform: @middle-back };
  40% { transform: @middle-left };
  100% { transform: @middle-left };
}

@keyframes spin-right {
  0% { transform: @middle-left };
  40% { transform: @middle-right };
  100% { transform: @middle-right };
}

@-webkit-keyframes spin-right {
 0% { transform: @middle-left };
  40% { transform: @middle-right };
  100% { transform: @middle-right };
}

//Top & Bottom
@keyframes spin-front {
  0% { transform:  @middle-back};
  40% { transform: @middle-front };
  100% { transform: @middle-front };
}

@-webkit-keyframes spin-front {
  0% { transform: @middle-back };
  40% { transform: @middle-front };
  100% { transform: @middle-front };
}

@keyframes spin-back {
  0% { transform: @middle-front };
  40% { transform: @middle-back };
  100% { transform: @middle-back };
}

@-webkit-keyframes spin-back {
 0% { transform: @middle-front };
  40% { transform: @middle-back };
  100% { transform: @middle-back };
}