@font: 'Overpass', sans-serif;

html {
    // background-image: url("../../assets/darkBlur.PNG");
    background-repeat: round;
    height: 100%;
}

.banner {
    text-align: center;

    .title {
        opacity: 0;
        font-size: 32pt;
        color: black;
        font-family: @font;
        transition: opacity 0.8s color 0.8s;
    }

    &:hover {
        .title {
            color: white;
            opacity: 0.8;
        }
    }

    .children {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #084B51;
        width: 100vw;
        height: 75vh;
        opacity: 0.1;
        transition: opacity 0.8s;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0, 0.5);
        }



        &:hover {
            opacity: 1;
        }
    }
}

.cube-container {
    width: 300px;
    height: 300px;
    position: relative;
    perspective: 1000px;
    margin: auto;
    top: 80px;

    .cube {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transform: translateZ(-150px);
        transition: transform 1s;

        .side {
            margin: 0;
            width: 296px;
            height: 296px;
            display: block;
            position: absolute;
            border: 2px dashed white;

            .cross {
                stroke: white;
                height: 100%;
                width: 100%;
                stroke-width: 8px;
            }
        }

        .front  {
            transform: rotateY(   0deg ) translateZ( 150px );
            // background-color: rgba(seagreen, green, darkblue, alpha)
        }
        .back   {
            transform: rotateX( 180deg ) translateZ( 150px );
        }
        .right  { transform: rotateY(  90deg ) translateZ( 150px ); }
        .left   { transform: rotateY( -90deg ) translateZ( 150px ); }
        .top    { transform: rotateX(  90deg ) translateZ( 150px ); }
        .bottom { transform: rotateX( -90deg ) translateZ( 150px ); }
    }

    .cube.animate-front {
        animation: spin-front 3s linear infinite;
        -webkit-animation: spin-front 3s linear infinite;
    }
    .cube.animate-back {
        animation: spin-back 3s linear infinite;
        -webkit-animation: spin-back 3s linear infinite;
    }
    .cube.animate-left {
        animation: spin-left 3s linear infinite;
        -webkit-animation: spin-left 3s linear infinite;
    }
    .cube.animate-right {
        animation: spin-right 3s linear infinite;
        -webkit-animation: spin-right 3s linear infinite;
    }
    .cube.animate-top {
        animation: spin-top 3s linear infinite;
        -webkit-animation: spin-top 3s linear infinite;
    }
    .cube.animate-bottom {
        animation: spin-bottom 3s linear infinite;
        -webkit-animation: spin-bottom 3s linear infinite;
    }
}

@middle-front: translateZ(-150px) rotateX(145deg) rotateY(45deg);
@middle-back: translateZ(-150px) rotateX(145deg) rotateY(225deg);
// @middle-left: translateZ(-150px) rotateX(325deg) rotateY(-45deg);
@middle-left: translateZ(-150px) rotateX(215deg) rotateY(45deg);
@middle-right: translateZ(-150px) rotateX(145deg) rotateY(45deg);

@middle-top: translateZ(-150px) rotateX(145deg) rotateY(45deg);
@middle-bottom: translateZ(-150px) rotateX(145deg) rotateY(45deg);

//Keyframe animations
@keyframes spin-front {
  0% { transform:  @middle-back};
  40% { transform: @middle-front };
  100% { transform: @middle-front };
}

@-webkit-keyframes spin-front {
  0% { transform: @middle-back };
  40% { transform: @middle-front };
  100% { transform: @middle-front };
}

@keyframes spin-back {
  0% { transform: @middle-front };
  40% { transform: @middle-back };
  100% { transform: @middle-back };
}

@-webkit-keyframes spin-back {
 0% { transform: @middle-front };
  40% { transform: @middle-back };
  100% { transform: @middle-back };
}

// Left & Right
@keyframes spin-left {
  0% { transform:  @middle-back};
  40% { transform: @middle-left };
  100% { transform: @middle-left };
}

@-webkit-keyframes spin-left {
  0% { transform: @middle-back };
  40% { transform: @middle-left };
  100% { transform: @middle-left };
}

@keyframes spin-right {
  0% { transform: @middle-left };
  40% { transform: @middle-right };
  100% { transform: @middle-right };
}

@-webkit-keyframes spin-right {
 0% { transform: @middle-left };
  40% { transform: @middle-right };
  100% { transform: @middle-right };
}

//Top & Bottom
@keyframes spin-front {
  0% { transform:  @middle-back};
  40% { transform: @middle-front };
  100% { transform: @middle-front };
}

@-webkit-keyframes spin-front {
  0% { transform: @middle-back };
  40% { transform: @middle-front };
  100% { transform: @middle-front };
}

@keyframes spin-back {
  0% { transform: @middle-front };
  40% { transform: @middle-back };
  100% { transform: @middle-back };
}

@-webkit-keyframes spin-back {
 0% { transform: @middle-front };
  40% { transform: @middle-back };
  100% { transform: @middle-back };
}